# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# system
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# secrets
данные
